<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nanqingtest.dao.mapper.ArticlePartMapper" >
  <resultMap id="BaseResultMap" type="com.example.nanqingtest.model.entity.ArticlePart" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_part
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.nanqingtest.model.entity.ArticlePart" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article_part (context, sort, article_id
      )
    values (#{context,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.nanqingtest.model.entity.ArticlePart" >
    update article_part
    set context = #{context,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, context, sort, article_id
    from article_part
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, context, sort, article_id
    from article_part
  </select>
</mapper>