<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nanqingtest.dao.mapper.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.example.nanqingtest.model.entity.Image" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.nanqingtest.model.entity.Image" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into image (sort, url, article_id
      )
    values (#{sort,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{articleId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.nanqingtest.model.entity.Image" >
    update image
    set sort = #{sort,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, sort, url, article_id
    from image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, sort, url, article_id
    from image
  </select>
  <select id="selectByByArticleId" resultType="string">
    select url
    from image
    where article_id=#{articleId}
    order by sort
  </select>
</mapper>